[submodule "opencv-motion-detect/vendor/libzmq"]
	path = opencv-motion-detect/vendor/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "opencv-motion-detect/vendor/leveldb"]
	path = opencv-motion-detect/vendor/leveldb
	url = https://github.com/google/leveldb
[submodule "opencv-motion-detect/vendor/boost"]
	path = opencv-motion-detect/vendor/boost
	url = https://github.com/boostorg/boost
