[submodule "opencv-motion-detect/vendor/libzmq"]
	path = opencv-motion-detect/vendor/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "opencv-motion-detect/vendor/leveldb"]
	path = opencv-motion-detect/vendor/leveldb
	url = https://github.com/google/leveldb
[submodule "opencv-motion-detect/vendor/curl"]
	path = opencv-motion-detect/vendor/curl
	url = https://github.com/curl/curl
[submodule "opencv-motion-detect/vendor/fswatch"]
	path = opencv-motion-detect/vendor/fswatch
	url = https://github.com/emcrisostomo/fswatch
